@font-face {
    font-family: "MesloLGS NF";
    font-style: normal;
    font-weight: 200;
    src: url('https://github.com/bcosden/dotfiles/raw/master/fonts/blink/MesloLGS%20NF%20Regular.ttf' format('truetype'));
}
